// Custom styles.
ul { list-style: circle; }

.menu .menu-item a {
    padding: 3px 20px;
    background: #222;
    border: none;
    color: #fff;
    transition-property: background;
    box-shadow: 5px 5px 5px #888;
    border-radius: 10px;
    font-size: 15px;
}

.menu .menu-item {
    margin-left: 20px;
}

.post-body>h1 {
    font-size: 35px;
}

.post-body>h2 {
    margin: 10px 0;
}
